/*
  ========================================
  Header
  ========================================
*/

header {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCC;
}

.logo-container {
    background: #FFF url("../images/AirBnb_clone_logo.png");
    background-repeat: no-repeat;
    margin-left: 20px;
}
